@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .mainDiv{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.night{
  background-color: black;
  color: white;
}
.day{
  background-color: white;
  color: black;
} */